<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>827027670946-edje9orhp4juc2bvve1h0bcqjqf2m8go.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827027670946-edje9orhp4juc2bvve1h0bcqjqf2m8go</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>827027670946-322edtt4fqq8thcj2ai4q090thauputs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBCShvbe4aqigXlq5Mgx0sziFqC_ICuThc</string>
	<key>GCM_SENDER_ID</key>
	<string>827027670946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saidmalik.adminJewelleryApp</string>
	<key>PROJECT_ID</key>
	<string>jewellery-604f7</string>
	<key>STORAGE_BUCKET</key>
	<string>jewellery-604f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827027670946:ios:d3c656b7a0bc714a3b14fb</string>
	<key>DATABASE_URL</key>
	<string>https://jewellery-604f7-default-rtdb.firebaseio.com</string>
</dict>
</plist>